*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 1920px;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0), 
    rgba(0, 0, 0));
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

h1{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.timebox{
    display: flex;
    gap: 90px;
}

.time{
    text-align: center;
}

.time h2{
    font-size: 5rem;
    font-weight: 100;
}

@media (max-width: 600px) {
    .hero{
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 601px) {
    .hero{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .hero{
        width: 100%;
    }
}

@media (max-width: 992px) {
    .hero{
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .hero{
        width: 100%;
    }
}